* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 90vh;
  max-width: 1000px;
}

.timer-container {
  display: flex;
  font-size: 8rem;
  align-items: center;
}

input {
  border: none;
  width: 12rem;
  font-size: 8rem;
  text-align: center;
}

input:focus {
  outline: none;
}

.button-container {
  margin: 3.5rem auto;
}

button {
  margin: 0 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  transition: 0.3s;
  width: 10rem;
  height: 3.5rem;
}

.button-add {
  background-color: #80e91e;
}
.button-startStop {
  background-color: #3988fd;
  width: 15rem;
}
.button-reset {
  background-color: transparent;
  color: red;
  outline: 1px solid transparent;
}

.button-add:hover {
  background-color: #59b800;
}

.button-startStop:hover {
  background-color: #0059df;
}
.button-reset:hover {
  outline: 1px solid red;
  background-color: rgb(255, 228, 228);
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .timer-container {
    font-size: 6rem;
  }

  input {
    width: 9rem;
    font-size: 6rem;
  }

  button {
    margin: 0 1rem;
    font-size: 1.8rem;
    width: 7rem;
    height: 3rem;
  }

  .button-startStop {
    width: 12rem;
  }
}

/* // Small devices (landscape phones, 576px and up)  */
@media (max-width: 576px) {
  .container {
    max-width: 95vw;
  }

  .timer-container {
    font-size: 4.8rem;
  }

  input {
    width: 6.5rem;
    font-size: 4.8rem;
  }

  .button-container {
    display: flex;
  }

  button {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    width: 5rem;
    height: 2.4rem;
  }

  .button-startStop {
    width: 7rem;
  }
}

@media (max-width: 400px) {
  .timer-container {
    font-size: 4rem;
  }

  input {
    width: 6rem;
    font-size: 4rem;
  }

  button {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    width: 4rem;
  }

  .button-startStop {
    width: 6rem;
  }
}
